<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <% (styles || []).forEach(style => { %>
        <link rel="stylesheet" href="<%= style %>">
    <% }) %>
</head>
<body>

    <%- include('../components/userDropdown') %>
    <%- include('header', { loggedIn: loggedIn }) %>

    <main>
        <%- body %>
    </main>

    <%- include('footer') %>
</body>
</html>