<a href="/products/<%= id %>" class="product-card">
    <div class="product-img">
        <img src="<%= image %>" alt="<%= name %>">
    </div>
    <div class="product-info">
        <p class="product-name"><%= name %></p>
        <div class="product-price">
            <span class="product-price"><%= points %></span>
            <span class="product-currency">Pesos</span>
        </div>
    </div>
</a>